@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* NAVBAR SECTION */
.navbarSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2874f0;
  position: sticky;
  top: 0;
  left: 0;
  padding: 20px 0;
}

.logo {
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  column-gap: 10px;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  border-radius: 10px;
  min-width: 60px;
  max-width: fit-content;
  padding: 7px 5px;
  margin-right: 70px;
  background-color: #3dbe29;
  cursor: pointer;
  color: #ffffff;
  font-size: 25px;
}

.cartDataSection {
  display: flex;
  margin-top: 15px;
}

/* LEFT SIDE ITEM LIST SECTION */
.cartItemsSection {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.cartItemDetail {
  display: flex;
  align-items: center;
  width: 70%;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  column-gap: 30px;
  padding: 8px 15px 8px 15px;
}

.cartItemImage {
  /* border: 1px solid black; */
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.itemDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.cartItemName {
  width: 90%;
}

.actionButtons {
  display: flex;
  column-gap: 25px;
  align-items: center;
}

.removeIcon {
  cursor: pointer;
  font-size: 25px;
  color: #e21717;
}

.itemCountControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  border: 0.5px solid black;
  padding: 7px 15px;
}

.itemCount {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.iconDesign {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}

/* RIGHT SIDE PRICE SECTION */
.cartPriceSection {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.priceSection {
  width: 400px;
  height: fit-content;
  position: fixed;
  padding: 15px 15px 25px 15px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.headingText {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #808080;
}

.allItesmCalsulation {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 30px;
}

.itemCalculation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemCalcName,
.itemCalcPrice {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.itemCalcName {
  width: 50%;
  line-height: 1.2;
}

.itemCalcQty {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #808080;
}

.totalItemPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.totalItemPrice > p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: none;
}

.purchaseButton {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  background-color: #2e2e2e;
  color: #ffffff;
  padding: 10px 40px;
}
